/*
color scheme
283044
546A76
88A0A8
8DA9C4
E6EBE0
*/

body {
	margin: 0px;
	padding: 0px;
	color: #283044;
	background-color: #E6EBE0; 
	font-family: 'Gill Sans', sans-serif;
	font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: Georgia, serif;
	margin: 0px;
}

header {
	text-align: center;
	color: #283044; 
	background-color: #8DA9C4;
}

.container {
	min-width: 300px;
	padding-left: 10px;
	padding-right: 10px;
}

.section-break {
	margin: 0px;
	padding: 0px;
	height: 2px;
	background: #8DA9C4;
	background: linear-gradient(90deg, rgba(40,48,68,1) 0%, rgba(141,169,196,1) 19%, rgba(84,106,118,1) 100%);
	border-top: 1px solid #283044;
	border-bottom: 1px solid #283044;
}

@media (min-width: 600px) {
	body {
		font-size: 2.5vw;
	}
	.container {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}
@media (min-width: 900px) {
	body {
		font-size: 2vw;
	}
	.container {
		padding-left: 15vw;
		padding-right: 15vw;
	}
}
@media (min-width: 1200px) {
	body {
		font-size: 1.5vw;
	}
	.container {
		padding-left: 20vw;
		padding-right: 20vw;
	}
}
@media (min-width: 1800px) {
	body {
		font-size: 1vw;
	}
	.container {
		padding-left: 25vw;
		padding-right: 25vw;
	}
}
