body {
	font-family: 'Lato', sans-serif;
	background-color: #057;
	color: #fff;
	padding: 0vw;
}

main {
	padding: 0vw;
	display: grid;
	grid-template-columns: 10vw 10vw 80vw;
}

header {
	border-top: 5px solid #057;
	background-image: url('/images/tripp.jpg');
	background-size: 100vw;
	box-shadow: inset 0 0 0 1000px rgba(0, 85, 119, .4);
	height: 50vw;
	grid-column: 1 / span 3;
	grid-row: 1;
}

span {
	padding: 0vw;
	margin: 0vw;
}

ul {
	padding: 1vw 1vw 1vw 2vw;
}

.title {
	width: 100vw;
	background-color: #fff;
	color: #057;
	grid-column: 1 / span 3;
	grid-row: 2;
}

.upper {
	font-size: 5vw;
	font-weight: bold;
}

.lower {
	font-size: 3vw;
}

.content {
	font-size: 2vw;
	display: block;
}

.block {
	display: block;
}

.left-header {
	padding: 2vw;
	grid-column: 1 / span 3;
}

.left-content {
	padding: 2vw;
	grid-column: 2 / span 2;
}

.right-content {
	padding: 2vw;
	grid-column: 3;
}
