<section id="experience">
    <h3>Experience</h3>
    {% for job in site.jobs %}
        <p><a href="{{ job.company_url }}" target="_blank">{{ job.company }}</a>, {{ job.city }}, {{ job.state }}.</p>
        {% for position in job.positions %}
            <p>{{ position.name }}. {{ position.start }} - {{ position.end }}.</p>
        {% endfor %}
        <p>{{ job.description }}</p>
        <ul>
            {% for highlight in job.highlights %}
                <li>{{ highlight.description }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</section>
