<!doctype html>
<html>

{% include head.html %}

<body>

	<div class="section-break"></div>
	{% include header.html %}
	<div class="section-break"></div>

	<div class="main-section">

		{% include overview.html %}
		<div class="section-break"></div>
		{% include knowledge.html %}
		<div class="section-break"></div>
		{% include experience.html %}
		<div class="section-break"></div>
		{% include education.html %}
		<div class="section-break"></div>
		{% include resume.html %}
		<div class="section-break"></div>
		{% include contact.html %}

	</div>

</body>
</html>
